* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff;
    height: 130px;
}

.header-btn {
    border: 0;
    background-color: #75BF7A;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}
