.navbar {
    background-color: #fff;
}

.theme-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #75BF7A;
    border: 0px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}


.slider {
    display: flex;
    justify-content: center;
}

.slider>img {
    width: 70%;
    padding: 20px;
}

.slider-left {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.slider-btns {
    margin-top: 38px;

}

.slider-text>h1 {
    font-weight: 800;
    color: #000000;
    line-height: 65.91px;
    font-size: 50px;
}

.slider-text>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #9E9DA2;
}


@media only screen and (max-width: 990px) {

    .navbar {
        height: auto;
    }

    .navbar-nav {
        text-align: center;
        padding: 10px !important;
    }

    .slider>img {
        width: 100% !important;
        height: 300px;
        object-fit: contain;
    }

    .slider-text>h1 {
        line-height: 35px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 762px) {
    .slider-left{
        padding: 30px 20px;
        text-align: center;
    }
    .slider-btns > img {
        width: 120px;
        
    }
}
@media only screen and (max-width: 600px) {
    .slider-left{
        padding: 10px 5px;
        text-align: center;
    }
    .slider-btns > img {
        width: 100px;
    }
    .slider >img{
        padding: 0px;
    }
    .row{
        flex-direction: column-reverse;
    }
}

.my-container {
    height: 168px;
    background-color: #75BF7A;
}
.text > h2 {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    height: 56px;
    margin: 0;
    /* width: 248px; */
}
.input-num {
    padding: 0 !important;
}
.input-num > input{
    border: 0px;
    padding: 0px !important;
    height: 67px;
    width: 100% ;
    /* width: 499px; */
}
.input-num ::placeholder{
    padding: 30px;
    color: #DADADA;
    width: inherit;
    font-weight: 600;
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.link-section{
    height: 168px;
    align-items: center;
    justify-content: center;
    margin-top: 40px !important;
}
.link-btn > button {
    height: 67px;
    /* width: 250px; */
    width: 100%;
    border:  0;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 22px
}

@media only screen and(max-width:768px){
    .input-num {
        margin-right: 0px !important;
    }
}